---
import ProjectCard from '../components/ProjectCard.astro'
import Layout from '../layouts/BaseLayout.astro'
import type { Frontmatter } from '../types'
const allProjects = (await Astro.glob<Frontmatter>('./projects/*.md')).filter((post) => !post.frontmatter.draft)
const sortedByDateProjects = allProjects.sort((a, b) => {
  if (a.frontmatter.pubDate > b.frontmatter.pubDate) return -1
  if (a.frontmatter.pubDate < b.frontmatter.pubDate) return 1
  return 0
})
---

<Layout title='Projects | Ricardo Chu'>
  <header class='text-center sm:text-left'>
    <h3 class='mb-6 text-gray-800 dark:text-gray-200 text-3xl font-bold tracking-tight sm:text-5xl'>🚀 Projects</h3>
    <p class='max-w-prose mb-10 font-normal text-gray-700 dark:text-gray-300 leading-relaxed'>
      Projects that showcase my expertise in frontend web development, utilizing frameworks and best practices to deliver scalable and responsive
      solutions that meet client needs.
    </p>
  </header>

  <ul class='grid grid-cols-1 gap-5 md:grid-cols-2 sm:gap-8'>
    {
      sortedByDateProjects.map((project) => {
        const { title, description, image, pubDate, tags, link } = project.frontmatter
        return <ProjectCard title={title} description={description} image={image} pubDate={pubDate} link={link} tags={tags} />
      })
    }
  </ul>

  <section class='text-center sm:text-left mt-9'>
    <h4 class='mb-6 text-gray-800 dark:text-gray-200 text-xl font-bold tracking-tight sm:text-3xl border-b dark:border-zinc-800 pb-3'>
      Other projects
    </h4>

    <p class='max-w-prose mb-10 font-normal text-gray-700 dark:text-gray-300 leading-relaxed'>
      Some other projects related to coding / algorithms. In case you can't access to the source / demo, means that the repository is private.
    </p>

    <ul class='list-inside space-y-3 text-gray-800 dark:text-gray-200'>
      <li class='border dark:border-zinc-800 p-3 rounded flex gap-3 justify-between'>
        Ricardo Chu Zheng Portfolio
        <div class='flex gap-6'>
          <a class='hover:text-blue-600' href='https://github.com/kypexfly/rchuzheng' target='_blank' rel='noopener noreferrer'>Source</a>
          <a class='hover:text-blue-600' href='https://rchuzheng.netlify.app' target='_blank' rel='noopener noreferrer'>Demo</a>
        </div>
      </li>
      <li class='border dark:border-zinc-800 p-3 rounded flex gap-3 justify-between'>
        La Logia de los Santos Mojados
        <div class='flex gap-6'>
          <a class='hover:text-blue-600' href='https://github.com/kypexfly/santosmojados' target='_blank' rel='noopener noreferrer'>Source</a>
          <a class='hover:text-blue-600' href='https://logiasantosmojadosv2.netlify.app' target='_blank' rel='noopener noreferrer'>Demo</a>
        </div>
      </li>
      <li class='border dark:border-zinc-800 p-3 rounded flex gap-3 justify-between'>
        Frontend Mentor Challenges
        <div class='flex gap-6'>
          <a class='hover:text-blue-600' href='https://github.com/kypexfly/frontend-mentor-challenges' target='_blank' rel='noopener noreferrer'
            >Source</a
          >
        </div>
      </li>
      <li class='border dark:border-zinc-800 p-3 rounded flex gap-3 justify-between'>
        ALGORITHIMS: Economic Load Dispatch (MATLAB & Python)
        <div class='flex gap-6'>
          <a class='hover:text-blue-600' href='https://github.com/kypexfly/economic-load-dispatch' target='_blank' rel='noopener noreferrer'>Source</a
          >
        </div>
      </li>
      <li class='border dark:border-zinc-800 p-3 rounded flex gap-3 justify-between'>
        ALGORITHIMS: Unit Commitment (Python)
        <div class='flex gap-6'>
          <a class='hover:text-blue-600' href='https://github.com/kypexfly/economic-load-dispatch' target='_blank' rel='noopener noreferrer'>Source</a
          >
        </div>
      </li>
      <li class='border dark:border-zinc-800 p-3 rounded flex gap-3 justify-between'>
        Epic 7 Discord Bot: get data from web scrapping and APIs, check news with cron jobs
        <div class='flex gap-6'>
          <a class='hover:text-blue-600' href='https://github.com/kypexfly/epic7-discord-bot' target='_blank' rel='noopener noreferrer'>Source</a>
        </div>
      </li>
    </ul>
  </section>
</Layout>
