---
const { title, description, pubDate, url, image } = Astro.props
import { Image } from '@astrojs/image/components'
const date = new Date(pubDate).toLocaleDateString('en-US', {
  month: 'long',
  day: '2-digit',
  year: 'numeric',
})
---

<a rel='noopener noreferrer' href={url} class='pt-6 pb-4 space-y-2 flex flex-col sm:flex-row gap-4 items-stretch group'>
  <div class='w-full sm:basis-64'>
    <Image width={600} aspectRatio={2} src={image.url} alt={image.alt} class='w-full h-56 sm:h-36 rounded object-cover object-center' />
  </div>
  <div class='flex-1 py-2'>
    <time datetime={pubDate}>{date}</time>
    <h3 class='text-xl sm:text-2xl font-bold my-3'>{title}</h3>
    <p class='text-gray-700 dark:text-gray-300'>
      {description}
    </p>
  </div>
</a>
