---
import type { Frontmatter } from '../types'
interface Props extends Frontmatter {
  url: string | undefined
}
const { title, description, url, image, tags, pubDate } = Astro.props
---

<article
  class='overflow-hidden rounded-lg shadow transition-all duration-200 ease-in-out transform hover:shadow-lg hover:-translate-y-2 dark:shadow-gray-700/25'
>
  <a href={url}>
    <img alt={image.alt} src={image.url} class='h-56 w-full object-cover' />

    <div class='p-4 sm:p-6'>
      <h3 class='mt-0.5 text-lg text-gray-900 dark:text-gray-100 font-semibold flex justify-between items-center'>
        {title}
        <span class='text-xs text-white bg-blue-600 px-2 py-0.5 rounded'>{new Date(pubDate).getFullYear()}</span>
      </h3>

      <p class='mt-2 text-sm leading-relaxed text-gray-500 dark:text-gray-400 line-clamp-3'>
        {description}
      </p>
      <div class='flex gap-1 mt-3'>
        {tags.map((tag) => <span class='text-sm bg-gray-200 dark:bg-gray-800 px-2 py-0.5 rounded text-gray-600 dark:text-gray-400'>{tag}</span>)}
      </div>
    </div>
  </a>
</article>
