---
import { Image } from '@astrojs/image/components'
import LatestPosts from '../components/LatestPosts.astro'
import type { Frontmatter } from '../types'
import BaseLayout from './BaseLayout.astro'
import Badge from '../components/Badge.astro'

interface Props {
  frontmatter: Frontmatter
}
const {
  frontmatter: { title, tags, image, pubDate },
} = Astro.props

const date = new Date(pubDate).toLocaleDateString('en-US', {
  month: 'long',
  day: '2-digit',
  year: 'numeric',
})
---

<BaseLayout title={title + ' | Ricardo Chu'}>
  <header class='w-full mx-auto space-y-4 text-center'>
    <h1 class='text-4xl font-bold leading-tight md:text-5xl'>
      {title}
    </h1>
    <p class='text-xs font-semibold flex-wrap tracking-wider uppercase flex gap-3 justify-center'>
      {tags.map((tag) => <Badge>{tag}</Badge>)}
    </p>
    <p class='text-sm dark:text-gray-400'>
      Posted on <time datetime={pubDate}>{date}</time>
    </p>

    {image.url && <Image width={1000} height={350} class='max-h-[350px] w-full object-cover object-center rounded' src={image.url} alt={image.alt} />}
  </header>

  <article class='my-12 markdown'>
    <slot />
  </article>

  <footer class="py-3 md:py-6">
    <h3 class='my-6 font-bold text-xl leading-loose'>You might also like</h3>
    <LatestPosts title={title} />
  </footer>
</BaseLayout>

<style is:inline>
  .markdown {
    line-height: 1.5;
    font-size: 17px;
    color: rgb(55, 65, 81);
  }
  .dark .markdown {
    color: rgb(209, 213, 219);
  }
  .markdown p {
    margin: 1.5rem 0;
  }
  .markdown h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }
  .markdown ul {
    padding-left: 2em;
    list-style-type: disc;
  }
  .markdown :not(pre) code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: rgb(209, 213, 219);
    border-radius: 6px;
  }
  .dark .markdown :not(pre) code {
    background-color: rgb(55, 65, 81);
    color: rgb(209, 213, 219);
  }
  .markdown pre {
    padding: 1.5em;
    border-radius: 0.475rem;
    font-size: 14px;
  }
  .markdown a {
    color: rgb(37, 99, 235);
    text-decoration: underline;
    line-height: 0.85;
    text-underline-offset: 5px;
  }
  .dark .markdown a {
    color: rgb(59 130 246);
  }
</style>
